*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;
    border-color: rgb(56, 56, 56);
}

#scoreText{
    color: rgb(56, 56, 56);
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
}
#resetButton{
    color: rgb(56, 56, 56);
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}